@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder {@content}
  ::-moz-placeholder {@content}
  :-ms-input-placeholder {@content}
}

@mixin font-size($size: inherit, $spacing: auto, $height: normal) {
  font-size:      $size;
  letter-spacing: $spacing;
  line-height:    $height;
}

@mixin inc-click-area($px: 10px) {
  position: relative;
  &:after {
    content:  '';
    position: absolute;
    top:      -$px; bottom: -$px;
    left:     -$px; right: -$px;
  }
}

@mixin display-flex($direction: row, $align: flex-start, $justify: flex-start) {
  display:         flex;
  flex-direction:  $direction;
  align-items:     $align;
  justify-content: $justify;
}

@mixin w-from($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

@mixin w-to($screen) {
  @media (max-width: $screen - 1px) {
    @content;
  }
}

@mixin w-range($screen1, $screen2) {
  @media (min-width: $screen1) and (max-width: $screen2 - 1px) {
    @content;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display:     block;
    content:     "";
    width:       100%;
    padding-top: ($height / $width) * 100%;
  }
  > picture > img,
  > img,
  > div,
  > a {
    display:    block;
    position:   absolute;
    top:        0;
    left:       0;
    right:      0;
    bottom:     0;
    width:      100%;
    height:     100%;
    overflow:   hidden;
    object-fit: cover;
  }
}

@mixin shading($color: black, $opacity: 0.04) {
  position: relative;

  &:after {
    position:       absolute;
    top:            0;
    left:           0;
    right:          0;
    bottom:         0;
    opacity:        $opacity;
    background:     $color;
    pointer-events: none;
    content:        '';
  }
}

// effects

@mixin e-lvl-1() {
  box-shadow: 0 2px 4px rgba(50, 53, 59, 0.15);
}

@mixin e-lvl-2() {
  box-shadow: 0 6px 12px rgba(50, 53, 59, 0.15);
}

@mixin e-lvl-3() {
  box-shadow: 0 30px 40px rgba(23, 27, 30, 0.15);
}

@mixin e-bottom-divider() {
  box-shadow: 0 1px 0 rgba(50, 53, 59, 0.15);
}

@mixin e-top-divider() {
  box-shadow: 0 -1px 0 rgba(50, 53, 59, 0.15);
}

