<script type="text/x-template" id="vue-template-input-password">
  <div class="form__row input">
    <label :for="params.id">${label}</label>
    <div class="input__container"
         :class="{'mod-with-text': focus, 'mod-error': params.error}"
         :data-error="errorMessage">
      <input type="password"
             :id="params.id"
             :name="params.name"
             :placeholder="placeholder"
             v-model="params.value"
             @focus="onFocus"
             @blur="onBlur">
    </div>
  </div>
</script>