<!--[if lte IE 9]>
<div class="b-browser-update">
  <h3>Ваш браузер устарел и&nbsp;не&nbsp;может отобразить этот сайт.</h3>
  <p>
    Современный браузер повысит скорость, безопасность и&nbsp;качество работы в&nbsp;интернете.
  </p>
  <p> Попробуйте <a href="https://www.google.ru/chrome/" target="_blank">Google Chrome</a>.
  </p>
</div>
<![endif]-->
