.b-browser-update {
  position:    fixed;
  left:        0;
  right:       0;
  bottom:      0;
  top:         0;
  text-align:  center;
  background:  white;
  z-index:     100;
  padding-top: 10%;
}
