<div id="notify">
  <notifications
    class="notifier mod-top"
    position="top center"
    width="100%"
    :max="3"
    group="top"
  >
  </notifications>
  <notifications
    class="notifier mod-header"
    position="top center"
    width="100%"
    :max="3"
    group="header"
  >
  </notifications>
</div>